@model IEnumerable<ProvidenceClinics.Models.s_Transaction>

@{
    ViewBag.Title = "Index Transaction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Transaction</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/s_Transaction/Create">Dashboard</a></li>
                        <li class="breadcrumb-item active">Transaction</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                   
                    <a href="/s_Transaction/Create" class="btn btn-primary">Add New Transaction <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TransactionDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchasePrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SellingPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.s_Order.Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.s_Supplier.SupplierName)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TransactionDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Quantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PurchasePrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SellingPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.s_Order.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.s_Supplier.SupplierName)
                                            </td>
                                            <td>
                                                <button> @Html.ActionLink("Edit", "Edit", new { id = item.TransactionID })</button> |
                                                <button> @Html.ActionLink("Details", "Details", new { id = item.TransactionID }) </button> |
                                                <button> @Html.ActionLink("Delete", "Delete", new { id = item.TransactionID })</button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2024 ProvidenceClinic.</p>
    </footer>
</div>
