@model IEnumerable<ProvidenceClinics.Models.s_Product>

@{
    ViewBag.Title = "Index Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Product</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/s_Product/Create">Dashboard</a></li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                   
                    <a href="/s_Product/Create" class="btn btn-primary">Add Product <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.image)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.QuantityInStock)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.s_Category.CategoryName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.s_Supplier.SupplierName)
                                        </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.image)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.QuantityInStock)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.s_Category.CategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.s_Supplier.SupplierName)
                                            </td>
                                            <td>
                                                <button>   @Html.ActionLink("Edit", "Edit", new { id = item.ProductID })</button> |
                                                <button>  @Html.ActionLink("Details", "Details", new { id = item.ProductID }) </button> |
                                                <button>  @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }) </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2024 ProvidenceClinic.</p>
    </footer>
</div>
