@model IEnumerable<ProvidenceClinics.Models.s_DoctorSchedule>


@{
    ViewBag.Title = "Index Doctor Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title"></h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="\Home\Index">Dashboard</a></li>
                        <li class="breadcrumb-item active">Doctor Schedule</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="\s_DoctorSchedule\Create" class="btn btn-primary">Add New Doctor Schedule <i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>DocSchID</th>
                                        <th>DoctorID</th>
                                        <th>Doctor Name</th>
                                        <th>Available Date</th>
                                        <th>Start Time</th>
                                        <th>EndTime</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.SchID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DoctorID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.s_Doctor.FirstName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.AvailableDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                            <td>
                                                <button> @Html.ActionLink("Edit", "Edit", new { id = item.SchID })</button> |
                                                <button>@Html.ActionLink("Delete", "Delete", new { id = item.SchID })</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2024 ProvidenceClinic.</p>
    </footer>
</div>



<p>
    
