@{
    var username = Session["Username"] as string;
    var userEmail = Session["UserEmail"] as string;
    var userProfileImage = Session["UserProfileImage"] as string ?? "~/assets/img/profiles/avatar-02.jpg"; // Default profile image if none is set
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/assets/img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="\Home\Index" class="logo">
                    <img src="~/assets/img/logo.png" alt="Logo">
                </a>
                <a href="index.html" class="logo logo-small">
                    <img src="~/assets/img/logo-small.png" alt="Logo" width="500" height="300">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-align-left"></i>
            </a>
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="@Url.Content(userProfileImage)" width="31" alt="Profile Image"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="@Url.Content(userProfileImage)" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>@username</h6>
                                <p class="text-muted mb-0">@userEmail</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="\Signin\SignOut">Logout</a>
                    </div>
                </li>
            </ul>
        </div>

        @Html.Partial("sidebar")

        @RenderBody()

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>
</body>

<script src="~/assets/js/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/assets/plugins/datatables/datatables.min.js"></script>
<script src="~/assets/js/script.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<!-- Mirrored from preschool.dreamguystech.com/html-template/students.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Oct 2021 11:11:49 GMT -->
</html>