@model Appointment.Models.s_DoctorSchedule

@{
    ViewBag.Title = "Details";
    var appointments = ViewBag.Appointments as List<Appointment.Models.AppointmentViewModel>;
    var userType = Session["UserType"] as string;
    System.Diagnostics.Debug.WriteLine($"Current UserType: {userType}");

    // Determine the layout based on the user type
    if (userType == "Doctor")
    {
        Layout = "~/Views/Shared/_Layout_doctor.cshtml";
    }
    else if (userType == "Patient")
    {
        Layout = "~/Views/Shared/_Layout_patient.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2>Details</h2>

<div>
    <h4>s_DoctorSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvailableDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_Doctor.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_Doctor.image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
