@model IEnumerable<ProvidenceClinics.Models.e_lsp>

@{
    ViewBag.Title = "Index Lec/Sem/Prac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Lec/Sem/Prac</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="\Home\Index">Dashboard</a></li> |
                        <li class="breadcrumb-item active">Education</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="\e_lsp\Create" class="btn btn-primary">
                        Add New Lec/Sem/Prac 
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            Lec/Sem/Prac Name
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Lec/Sem/Prac Type
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.e_lsp_type.type)
                                            </td>
                                            <td>
                                                <button> @Html.ActionLink("Edit", "Edit", new { id = item.lspid })</button> |
                                                <button> @Html.ActionLink("Delete", "Delete", new { id = item.lspid }) </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>